@import url('https://fonts.googleapis.com/css?family=Montserrat');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
body {
  font-family: 'Montserrat', sans-serif;
}

.link-color a {
  color: pink;
}
.min-img{
  margin: 0 auto;
  min-width: 400px;
}
.service-img {
  margin:0 auto;
  width: 65%;
  min-width : 200px;
  max-width : 300px;
}
#carousel-facepaint{
  margin: auto;
  width: 40%;
  padding: 10px;

}
#carousel-caricatures{
  margin: auto;
  width: 40%;
  padding: 10px;
}
.navbar {
  background-color:#FFFFE6;
}
/* footer */
footer {
  background-color:#FFFFE6;
}
/*-- Social --*/
.social a{
  font-size: 4.5em;
  padding:3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-instagram{
  color:#517fa4;
}
/*--- About Me ---*/
#about-me img {
  width: 200px;
  border-radius: 50px 50px;
}

#about-me-title h2 {
  align-self: center;
}

/*--- card ---*/
.card {
  border-style: none;
}
/*---overwritten css classes---*/
.carousel-inner img {
  margin: auto;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.btn a {
  color: black;
  text-decoration: none;
}
.btn a:hover {
  color: white;
  text-decoration: none;
}
<ol id="myCarousel-indicators" class="carousel-indicators"></ol>

.btn btn-outline-primary {
}

/*--Firefox Bug Fix--*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
